.wrapper {
  display: flex;
  margin: 1rem;
  margin-bottom: 5rem;
  flex-direction: column;
  row-gap: 0.75rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
  max-height: 70vh;
  overflow-y: auto;
}

.loading {
  display: flex;
  justify-content: center;
}


