.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  .img {
    display: flex;
    width: 150px;
  }

  .name {
  }
}
